body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Home Screen */
#homeScreen {
    width: 100%;
    height: 100vh;
    text-align: center;
    position: relative;
    background-image: url('bg.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-home {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.title {
    margin-top: 80px;
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

.start-btn {
    margin-top: 40px;
    padding: 15px 40px;
    font-size: 24px;
    border-radius: 10px;
    border: none;
    background: #ff4081;
    color: white;
    cursor: pointer;
    border: 3px solid white;
}

#gameScreen {
    display: none; /* disembunyikan */
    text-align: center;
    margin-top: 20px;
}
