* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* HOME SCREEN */
#home-screen {
    width: 100vw;
    height: 100vh;
    background-image: url("bg.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 50px;
    color: white;
    text-shadow: 3px 3px 10px black;
    margin-bottom: 20px;
}

.btn-start {
    width: 180px;
    cursor: pointer;
    transition: 0.2s;
}

.btn-start:hover {
    transform: scale(1.1);
}

/* GAME SCREEN */
#game-screen {
    display: none;
    width: 100vw;
    height: 100vh;
    background-image: url("bg1.jpeg");
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(4px);
    border: 3px solid white;
    border-radius: 10px;
}
