body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* === START SCREEN === */
#startScreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("bg.jpeg") no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#startScreen h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}

#startBtn {
    padding: 15px 40px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* === GAME CANVAS === */
#gameCanvas {
    display: none;
    background: url("bg1.jpeg") no-repeat center center/cover;
}
