body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: Arial, sans-serif;
}

/* START SCREEN */
#startScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("bg.jpeg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startScreen h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}

#startBtn {
    padding: 15px 40px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* CANVAS GAME */
#gameCanvas {
    display: none; /* canvas awalnya disembunyikan */
    width: 100vw;
    height: 100vh;
    background: url("bg1.jpeg") center/cover no-repeat;
}

/* Setelah tombol START ditekan → canvas muncul */
body.started #gameCanvas {
    display: block;
}

/* Setelah START → start screen hilang */
body.started #startScreen {
    display: none;
}
