body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: Arial, sans-serif;
}

#startScreen {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("bg.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#startScreen h1 {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}

#startBtn {
    padding: 15px 40px;
    font-size: 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#gameCanvas {
    display: none;
    background: url("bg1.jpeg");
    background-size: cover;
}
